@use 'nav';
@use 'header';
@use "main";
@mixin center($leftP,$rightP){
    position:absolute;
    left: $leftP;
    top:$rightP;
    transform: translate(-$leftP,-$rightP);
}

body{
    height: 100vh;
    width: 100%;
    @include urtasi;
}
%text_qalin{
    font-weight:bold;
    font-size: 35px;
}
@mixin urtasi(){
    display: flex;
    align-items:center;
    justify-content: center;
}
@mixin rang(){
    color:red;
}
.title{
    @include rang;
    color:red;
}
.text{
    color:blue;
    @extend %text_qalin;
}



